**/bin/
**/obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Blazor Wasm / Web App 
**/publish/
**/bin/Release/
**/bin/Debug/

appsettings.Development.json
appsettings.Production.json

**/node_modules/

.env
.env.local
.env.*.local
