@page "/"

<div class="home-page">
    <div class="home-page__logo">
        <LibraryLogo />
    </div>

    <div class="home-page__content">
        <CatalogLandingSection />
        <EntranceSection />
        
    </div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="books/create">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Додати книгу
    </NavLink>
</div>
    <div class="home-page__footer">
        © 2026 University Library System
    </div>
</div>