<div class="semicircle-header-wrapper">
    <div class="semicircle-header">
        <div class="semicircle-header__icon">📖</div>
        <div class="semicircle-header__title">Каталог бібліотеки</div>
    </div>
</div>